.main_wrapper {
    min-height: calc(100vh - 80px);
    padding: 5% 10%;
}

footer {
    height: 80px;
    overflow: hidden;
}

.img_evaluation {
    max-width: 100%;
    max-height: 650px;
    display: block;
    margin: auto;
}

.img_explanation {
    max-width: 100%;
    max-height: 400px;
    display: block;
}

.bg-grey {
    background-color: #7F7F7F;
}

.white_color {
    color: white;
}